<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Sales Tracker</h1>
            <form novalidate role="form" [formGroup]="loginform">
                <div class="form-content">
                    <div class="form-group" [ngClass]="{'has-danger': UserName.invalid && (UserName.dirty || UserName.touched) }">
                        <control-messages [control]="loginform.controls.UserName"></control-messages>
                        <input type="text" [(ngModel)]="user.UserName" class="form-control input-underline input-lg" formControlName="UserName" required
                            placeholder="Username">
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': Password.invalid && (Password.dirty || Password.touched) }">
                        <control-messages [control]="loginform.controls.Password"></control-messages>
                        <input type="password" [(ngModel)]="user.Password" class="form-control input-underline input-lg" formControlName="Password"
                            id="inputError" required placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="loginform.valid && onlogin()"> Log in </a>
            </form>
        </div>
    </div>
</div>