<div class="row">

        <button type="button" (click)="AddUser()" class="btn btn-sm btn-primary">Primary</button>
            <div class="card-header">Users List</div>
            <div class="card-block table-responsive">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Is Active</th>
                            <th>Is Online</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of NewUsers">

                            <td>{{user.FirstName}}</td>
                            <td>{{user.LastName}}</td>
                            <td>{{user.IsActive}}</td>
                            <td>{{user.IsOnline}}</td>
                            <td>{{user.CreatedBy}}</td>
                            <td>{{user.CreatedDate || DateFormate }}</td>
                        </tr>

                    </tbody>
                </table>
    </div>