<h2 class="text-muted"><small>Unit of measurement </small></h2>
<div class="row">
  <div class="col-lg-6">
    <form role="form" novalidate [formGroup]="uomform">
      <div class="form-group">
         <!--[ngClass]="{'has-danger': Name.invalid && (Name.dirty || Name.touched) }'"-->
        <label>Name</label>
        <control-messages [control]="uomform.controls.Name"></control-messages>
        <input formControlName="Name" class="form-control" placeholder="Enter name" required>
      </div>
      <div class="form-group">
        <label>Abbreviation</label>
        <control-messages [control]="uomform.controls.Abbr"></control-messages>
        <input formControlName="Abbr" class="form-control" placeholder="Enter abbreviation" required>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>