<h3>
    Register</h3>
<br/>
<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" [(ngModel)]="user.FirstName" name="FirstName" class="form-control" id="" placeholder="First Name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" [(ngModel)]="user.LastName" name="LastName" class="form-control" id="" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" [(ngModel)]="user.UserName" name="UserName" class="form-control" id="" placeholder="User Name">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="user.Password" name="Password" class="form-control" id="" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" id="" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <label>Role</label>
                <select class="form-control" (change)="onChange($event.target.value)">
                        <option *ngFor="let role of NewRoles" value= {{role.RoleID}}>
                            {{role.Name}}
                        </option>
                     </select>
            </div>

            <div class="form-group">
                <button class="btn btn-danger" type="submit" (click)="onregister()"> Register </button>
            </div>
        </form>
    </div>
</div>