<div class="row">
    <h2 class="text-muted"><small>UOM List</small></h2>
</div>
<div class="row">
    <button routerLink="/master/uom/add" class="btn btn-md btn-primary">Add</button>
</div>
<div class="row">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <!--<th>CreatedBy</th>-->
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let uom of uoms">

                <td>{{uom.Name}}</td>
                <td>{{uom.Abbr}}</td>
                <!--<td>{{uom.CreatedBy}}</td>-->
                <td>{{uom.CreatedDate | date:'dd/MM/yyyy' }}</td>
            </tr>

        </tbody>
    </table>
</div>